%head

  %script{type: "text/javascript", src: "http://localhost:35729/livereload.js" }

  %script{ type: "text/javascript", src: "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" }

  %script{ type: "text/javascript", src: "http://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.5/mousetrap.min.js" }

  %script{ type: "text/javascript", src: "../lobstertrap.min.js" }


%body
  %h1
    awesome blossoms!

  %p
    Type "?" to open up lobstertrap
